# Dependencies
node_modules/

# Production builds
dist/
build/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Environment & local secrets
.env
.env.local
*.log

# Temp files
scratch/
tmp/
